/****************************************
*************Import Files****************
****************************************/
@import "normalize";

/****************************************
****************Variables*****************
****************************************/
$main-color: #404a51;
$secondary-color: #999c9f;
$border: 1px solid #dfdfdf;

/****************************************
*****************Global******************
****************************************/
img {
  border-radius: 50%;
}

h1,
h2,
p {
  font-size: 1rem;
  color: $main-color;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

/****************************************
*****************Layout******************
****************************************/
body {
  position: relative;
  .grid-container {
    display: grid;
    max-width: 100vw;
    grid-template-columns: auto;
    justify-content: center;
    margin: 0 15px;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 30px;
      margin: 0 30px;
    }
    @media (min-width: 1050px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;
      margin: 0 30px;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
  }
}

/****************************************
*****************Header******************
****************************************/
h1 {
  padding: 10px 15px;
  text-align: center;
  font-size: 1.2rem;
  @media (min-width: 768px) {
    text-align: left;
    padding: 10px 30px;
    font-size: 1.4rem;
  }
}

/****************************************
*****************Card*******************
****************************************/
.card {
  display: flex;
  border: $border;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  img {
    margin: 10px 10px 10px 0;
  }
  .text-container {
    line-height: 0.3cm;
    p {
      font-size: 0.8rem;
    }
  }
}
/****************************************
*************Modal Window****************
****************************************/
.hidden {
  display: none;
}

.modal {
  width: 200px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: $border;
  border-radius: 5px;
  padding: 30px 20px;
  @media (min-width: 768px) {
    width: 375px;
  }
  .modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
  }
  .modal-content {
    h2,
    p {
      font-size: 0.6rem;
      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }

    .text-container {
      hr {
        border: $border;
        background-color: #dfdfdf;
        border-radius: 5px;
        width: 60%;
      }
    }
  }
}
